@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');


*{margin: 0;
    padding: 0;
    text-decoration: none;
}

nav {
    display: flex;
    flex-direction: row;
    height: 70px;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    justify-items: center;
    background-color: black;
    top: 0;
    left: 0;
    position: fixed;
}

.nav-items {
    display: flex;
    flex-direction: row;
    justify-items: center;
    align-items: center;
    margin-right: 48%;
    gap: 30%;
    font-size: 18px;
}

.nav-header {
    color: whitesmoke;
    font-size: 1.5rem;
    font-family: "Nunito", sans-serif;
    margin-left: 10%;

}